.place {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: 0px -18px 18px 0px rgba(32, 51, 79, 0.12);
  border-radius: 28px 28px 0px 0px;
}

.OrderFree {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  padding: 18px;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0px 1px 12px 0px rgba(32, 51, 79, 0.12);
  margin-bottom: 14px;
}
.OrderFree > h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.OrderFree p {
  color: #8f92a1;
  font-size: 10px;
  font-weight: 400;
}
.OrderFree > .LowLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.OrderFree > .LowLine > div {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}
.LowLine > div > div {
  display: flex;
  gap: 10px;
}
.LowLine > div > div > i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 44px;
  height: 44px;
  color: #fff;
  border-radius: 11px;
  background: #e1e6f7;
}
.OrderFree > .LowLine img {
  width: 60px;
  height: 60px;
  margin-right: 6px;
}

.OrderCard {
  margin-bottom: 14px;

  border-radius: 28px;
  background: var(--White, #fff);
  box-shadow: 0px 1px 12px 0px rgba(32, 51, 79, 0.12);
  padding: 18px;
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.ImageContan {
  display: flex;
  justify-content: space-between;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  background: #e1e6f7;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.image > img {
  width: 100%;
  height: 100%;
}
.ImageContan > div > span {
  color: #8f92a1;
  font-size: 15px;
  font-weight: 600;
}
.InfoContan {
  display: flex;
  justify-content: space-between;
}
.InfoContan > div > h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.InfoContan > div > p {
  color: #8f92a1;
  font-size: 10px;
  font-weight: 400;
}

.InfoContan > div:last-child {
  text-align: end;
}

.activeP {
  color: #2459ff !important;
}

.complitedP {
  color: #21ae0a !important;
}

.cancelP {
  color: #fe539b !important;
}

.place > div > button {
  color: #8f92a1;
  font-size: 14px;
  font-weight: 400;
  border-radius: 14px;
  background: #f1f3fb;
  height: 32px;
  padding: 4px 8px;
  border: unset;
}
.place > div > button.active {
  color: #fff;
  background: #2459ff;
}
