.Contain {
  border-radius: 28px;
  background: #fff;
  box-shadow: 0px 1px 12px 0px rgba(32, 51, 79, 0.12);
  /* height: 124px; */
  width: 100%;
  padding: 18px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.Contain > * {
  width: 100%;
}
.Info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Info > div {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

.Info span {
  color: #8f92a1;
  font-size: 10px;
  font-weight: 400;
}

.Info h5 {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 500;
}

.Info .InfoStatus {
  color: #2459ff;
}

.ImagesLine {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.ImagesContain {
  border-radius: 11px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.ImagesContain > img{
  width: 100%;
  height: 100%;
}
.ImagesContain.FinalImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e1e6f7;
}
.FinalImage > span {
  color: #8f92a1;
  font-size: 15px;
  font-weight: 600;
}
