.ProductsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content:center;
  gap: 10px;
  padding-bottom: 210px;
  padding-top: 110px;
  min-height: 100vh;
  
}
@media (min-width:1025px) {
  .ProductsGrid {
    margin-top: 24px;
    box-shadow: 0px -18px 18px 0px rgba(32, 51, 79, 0.12);
    padding-top: 24px;
    border-radius: 24px 24px 0px 0px;
  }
}
